@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Caveat:wght@400..700&family=Comfortaa:wght@300..700&family=Fredoka:wght@300..700&family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inconsolata:wght@200..900&display=swap");

:root {
  /* FONTS */
  --ff-poppins: "Poppins", sans-serif;
  --ff-caveat: "Caveat", cursive;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 800;

  /* COLORS */
  --white: #fff;
  --black: #161515;
  --maroon: #460815;
  --pink: #fa9cc9;
  --light-pink-1: #fff2f9;
  --light-pink-2: #facde3;
  --shadow: rgba(0, 0, 0, 0.2);
  --semi-transparent: rgba(249, 242, 246, 0.8);
}

/**** BASE */

*,
html {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: var(--ff-poppins);
  font-weight: var(--fw-normal);
  color: var(--black);
  background: url(./assets/images/pink-geometric.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  border: 3px solid var(--black);
  border-radius: 8px;
  background-color: var(--pink);
  color: var(--black);
  padding: 0 10px;
}

.btn:hover {
  background-color: var(--light-pink-2);
}

/**** NAVIGATION */

nav {
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: var(--light-pink-1);
  box-shadow: 3px 3px 5px var(--shadow);
}

nav .navbar-menu .my-porto {
  font-weight: var(--fw-semibold);
  font-size: 1.2rem;
}

nav .navbar-menu .my-porto span {
  color: var(--pink);
  font-family: var(--ff-caveat);
  font-size: 1.7rem;
}

nav .navbar-menu ul {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navbar-menu li {
  height: 50px;
}

nav .navbar-menu a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: var(--black);
}

nav .navbar-menu .fa-bars {
  display: none;
  padding: 17px 30px;
}

nav .navbar-menu a:hover {
  background-color: var(--light-pink-2);
}

nav .navbar-menu li:first-child {
  margin-right: auto;
}

nav .navbar-menu .sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  z-index: 20;
  background-color: var(--semi-transparent);
  box-shadow: -10px 0 10px var(--shadow);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

nav .navbar-menu .sidebar li {
  width: 100%;
}

nav .navbar-menu .sidebar .fa-xmark {
  margin: 1.8rem;
  font-size: large;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  nav .navbar-menu .fa-bars {
    display: block;
  }
}

@media (max-width: 400px) {
  nav .navbar-menu .sidebar {
    width: 100%;
  }
}

/**** HEADING */

.heading {
  background-color: var(--pink);
  border-radius: 8px;
  text-align: center;
  font-weight: var(--fw-semibold);
  font-size: 3rem;
  margin-bottom: 1rem;
}

/**** SECTIONS */

/* Grouping */

.about,
.project,
.contact {
  padding: 7rem;
}

.about-content,
.skill,
.project-content,
.contact-content {
  background-color: var(--light-pink-1);
  border: 3px solid var(--black);
  border-radius: 18px;
}

/* Home */

.home {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-image: url(./assets/images/pink-bg.jpg);
  background-position: center;
  background-size: cover;
}

.home-content {
  margin-top: 10rem;
  margin-left: 15rem;
}

.home-content .intro h1 {
  font-size: 7rem;
  letter-spacing: 0.5rem;
  color: transparent;
  -webkit-text-stroke: 3px var(--black);
}

.home-content .intro h3 {
  font-size: 4rem;
  margin-bottom: 0.8rem;
}

/* About */

.about-content {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.about-content .my-photo {
  position: relative;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 100%;
}

.about-content .description h2 {
  font-size: 4rem;
  font-family: var(--ff-caveat);
  font-weight: var(--fw-bold);
}

.about-content .description h3 {
  font-size: 2.2rem;
}

.about-content .description p {
  line-height: 1.5;
}

.about-content .description .p2 {
  margin-bottom: 1rem;
}

.skill {
  padding: 1rem;
}

.skill h3 {
  padding-inline-start: 1rem;
  font-size: 2.5rem;
}

.skill img {
}

/* Projects */

.project-content {
  display: flex;
  align-items: center;
}

/* Contact */

.contact {
}

/* Project */

.project-content {
}

/**** FOOTER */

footer .account {
  display: flex;
  flex-direction: row;
}
